name: "Lint & Test PR"

on:
    pull_request_target:

permissions:
    pull-requests: read

jobs:
    main:
        name: P${{ matrix.php }} - L${{ matrix.laravel }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php: [ 8.1, 8.2, 8.3, 8.4, 8.5 ]
                laravel: [ 10.*, 11.*, 12.* ]
                include:
                    -   laravel: 10.*
                        testbench: ^8.36
                    -   laravel: 11.*
                        testbench: ^9.15
                    -   laravel: 12.*
                        testbench: ^10.8
                exclude:
                    -   laravel: 10.*
                        php: 8.5
                    -   laravel: 11.*
                        php: 8.5
                    -   laravel: 12.*
                        php: 8.1
        steps:
            -   name: Checkout Code
                uses: actions/checkout@v6

            -   name: "Check PR title"
                uses: amannn/action-semantic-pull-request@v5
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            -   name: "Setup PHP"
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: json, dom, curl, libxml, mbstring
                    coverage: xdebug

            -   name: "Install Composer Dependencies"
                run: |
                    composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
                    composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction

            -   name: "Run Rector"
                run: |
                    ./vendor/bin/rector process --dry-run --config=rector.php

            -   name: "Run Pint"
                run: |
                    ./vendor/bin/pint --config=pint.json --test --verbose --dirty

            -   name: "Run PHPStan Analysis"
                run: |
                    ./vendor/bin/phpstan analyse --error-format=github

            -   name: "Run Tests"
                run: |
                    ./vendor/bin/pest --colors=always --stop-on-failure --coverage --ci
